@media screen and (min-width: 601px)
	.member
		width: 30%

@media screen and (max-width: 600px)
	#our_team
		flex-direction: column

	.member
		width: 100%
		margin-bottom: 5%

#team_page, #team_page > div, #our_team
	display: flex

#team_page
	flex-direction: column
	margin: 5% 0 5% 0
	> div
		max-width: 1200px
		justify-content: center
		align-items: center
		margin: auto

#our_team
	justify-content: space-between

.member
	background: #cecece
	border: 10px solid
	border-color: #cecece
	> div img
		width: 100%
		height: 100%
	> div:last-child
		padding: 3%

.more_info
	display: none

.overlay
	position: absolute
	margin-top: -3.6%
	width: 16.9%
	background: rgb(0, 0, 0)
	background: rgba(0, 0, 0, 0.5)
	color: #f1f1f1
	transition: .5s ease
	opacity:0
	color: white
	font-size: 20px
	padding: 20px
	text-align: center

.toggle_more:hover .overlay
	opacity: 1